---
import { FiExternalLink } from 'react-icons/fi';

interface Props {
	url: string;
	target?: string;
	rel?: string;
	icon?: boolean;
}
const { url, target, rel, icon } = Astro.props;

function isValidURL(url: string) {
	const regex = /^(https?:\/\/)?([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)?([a-zA-Z0-9.-]+\.[a-zA-Z]{2,})(:[0-9]+)?(\/[^\s]*)?$/i;
	return regex.test(url);
}
let _blank = (target === '_blank') || (!target && isValidURL(url));
---

{url !== '' ? (
	<a
		class="
			inline-flex items-center gap-2 align-bottom hover:underline
			[&_svg]:flex-shrink-0
			[&_img]:flex-shrink-0 [&_img]:transition-opacity [&_img]:hover:opacity-70
		"
		href={url}
		target={target ? target : undefined}
		rel={_blank ? 'noopener noreferrer' : (rel ? rel : undefined)}
	>
		<slot />
		{(icon && _blank) && <FiExternalLink />}
	</a>
) : (
	<span class="inline-flex items-center gap-2 align-bottom">
		<slot />
	</span>
)}