---
import { FiExternalLink } from 'react-icons/fi';

interface Props {
	url: string;
	target?: string;
	rel?: string;
	isIcon?: boolean;
}
const { url, target, rel, isIcon } = Astro.props;

function isValidURL(url: string) {
	const regex = /^(https?:\/\/)?([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)?([a-zA-Z0-9.-]+\.[a-zA-Z]{2,})(:[0-9]+)?(\/[^\s]*)?$/i;
	return regex.test(url);
}
let isBlank = target === '_blank' ? true : (!target && isValidURL(url)) ? true : false;
---

{url !== '' ? (
	<a
		class="
			inline-flex items-center gap-2 align-bottom hover:underline
			[&_svg]:flex-shrink-0
			[&_img]:flex-shrink-0 [&_img]:transition-opacity [&_img]:hover:opacity-70
		"
		href={url}
		target={isBlank ? '_blank' : (target ? target : undefined)}
		rel={isBlank ? 'noopener noreferrer' : (rel ? rel : undefined)}
	>
		<slot />
		{(isIcon && isBlank) && <FiExternalLink />}
	</a>
) : (
	<span class="inline-flex items-center gap-2 align-bottom">
		<slot />
	</span>
)}