---
interface Props {
	tag: string;
}

const { tag } = Astro.props;
const CustomTag = `${tag}`;
---

<div class="w-20 h-20 relative">
	<CustomTag><img src="./avatar.png" alt="kakera" /></CustomTag>
	<span class="absolute -z-10 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-1 w-screen bg-stone-700"></span>
</div>